# API Keys (set the ones you have)
FIRECRAWL_API_KEY=
BRIGHT_DATA_API_KEY=
JINA_API_KEY=
TAVILY_API_KEY=
EXA_API_KEY=
SERPAPI_KEY=
APIFY_TOKEN=
CRAWL4AI_API_KEY=
OPENAI_API_KEY=

# Docker
SEARXNG_BASE_URL=http://localhost:8080
SELENIUM_GRID_URL=http://localhost:4444/wd/hub
